<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Ruby Fashion</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   
 <style>
.search-area{
    padding: 20px;
}

.card {
    max-width: 250px;
    max-height: 200px; /* Adjust the maximum width as needed */
    margin-bottom: 20px; /* Adjust the margin between cards as needed */
  }

  .card-img-top {
    height: 280px; /* Adjust the height of the card image as needed */
    object-fit: cover;
  }
  #rows{
    align-items: center;
  }

  /* CSS for the banner image in the carousel */
.single-carousel-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

 </style>

</head>
<body>

<!--== Header Area Start ==-->

<%- include('../user/partials/header.ejs') %>
<!--== Header Area End ==-->

<!--== Banner // Slider Area Start ==-->
<section id="banner-area">
    <div class="ruby-container">
      <div class="row">
        <div class="col-lg-12">
          <div id="banner-carousel" class="owl-carousel">
            <% for (let i = 0; i < banners.length; i++) { %>
              <!-- Banner Single Carousel Start -->
              <div class="single-carousel-wrap">
                <img src="/uploads/<%= banners[i].image %>" alt="Banner Image" >
                <div class="banner-caption text-center text-lg-left">
                  <h2><%= banners[i].title %></h2>
                  <p><%= banners[i].description %></p>
                  <a href="/shop" class="btn-long-arrow">Shop Now</a>
                </div>
              </div>
              <!-- Banner Single Carousel End -->
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!--== Banner Slider End ==-->

<!--== About Us Area Start ==-->
<section id="aboutUs-area" class="pt-9">
    <div class="ruby-container">
        <div class="row">
            <div class="col-lg-6">
                <!-- About Image Area Start -->
                <div class="about-image-wrap">
                    <a href="about.html"><img src="/assets/img/about-img.png" alt="About Us" class="img-fluid"/></a>
                </div>
                <!-- About Image Area End -->
            </div>

            <div class="col-lg-6 m-auto">
                <!-- About Text Area Start -->
                <div class="about-content-wrap ml-0 ml-lg-5 mt-5 mt-lg-0">
                    <h2>About Us</h2>
                    <h3>WE ARE VISIONARY</h3>
                    <div class="about-text">
                        <p>There is nothing like the enjoyment that comes from learning new makeup techniques. 
                            We all have our beauty regimens to match our style, and makeup is genuinely a 
                            miraculous tool for transformation and enhancement: it is both powerful and life-changing. 
                            Rather than shying away from the radiance of our true selves, it allows us to showcase our
                             unique personalities and express our creativity through artistry and self-expression. 
                             There are no established rules, and you can express yourself in whatever way you wish. 
                             To honor the art of makeup, we have compiled a list of 50 insightful makeup quotes. 
                            Let’s get started!</p>

                        <a href="about.html" class="btn btn-long-arrow">Learn More</a>
                        <a href="/shop" class="btn btn-long-arrow">View Products</a>


                        <h4 class="vertical-text">WHO WE ARE?</h4>
                    </div>
                </div>
                <!-- About Text Area End -->
            </div>
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
<!-- Search Results Section -->
<div class="container">
    
    <div class="search-area">
        <% if (searchResults && searchResults.length > 0) { %>
          <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Section Title Start -->
                    <div class="section-title"><br>
                        <h2><br>Search Results</h2>
        
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>
            <div class="row" id="rows">
              <% searchResults.forEach(function(result) { %>
                <% if (!result.isDeleted) { %>
                  <div class="col-lg-4 col-md-6">
                    <div class="card" id="cards">
                        <a href="/product/<%= result._id %>">
                            <img src="/uploads/<%= result.itemImage[0] %>" alt="Product Image" class="card-img-top">
                          </a>
                      <div class="card-body">
                        <h5 class="card-title"><%= result.productName %></h5>
                        
                        <p class="card-text"><span>&#8377;</span><%= result.price %></p>
                        <button type="button" data-toggle="modal" data-target="#quickView">
                          <span data-toggle="tooltip" data-placement="left" title="Quick View">
                            <i class="fa fa-compress"></i>
                          </span>
                        </button>
                        <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                          <i class="fa fa-heart-o"></i>
                        </a>
                        <a href="compare.html" data-toggle="tooltip" data-placement="left" title="Compare">
                          <i class="fa fa-tags"></i>
                        </a>
                        <a href="/add-to-cart/<%= result._id %>" class="btn btn-add-to-cart">+ Add to Cart</a>
                      </div>
                      
                    </div>
                  </div>
                <% } %>
              <% }) %>
            </div>
          </div>
        <% }  %>
      </div>
<!--== New Collection Area Start ==-->
<section id="new-collection-area" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title"><br>
                    <h2><br>New Collection Products</h2>
                    <p>Best products on sale.</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="new-collection-tabs">

                    <!-- Tab Menu Area Start -->
                    <ul class="nav tab-menu-wrap" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="feature-products-tab" data-toggle="tab" href="#feature-products"
                               role="tab" aria-controls="feature-products-tab" aria-selected="true">Feature Products</a>
                        </li>
                        <li class="nav-item">
                            <a id="new-products-tab" data-toggle="tab" href="#new-products" role="tab"
                               aria-controls="new-products" aria-selected="false">New Products</a>
                        </li>
                        <li class="nav-item">
                            <a id="onsale-tab" data-toggle="tab" href="#onsale" role="tab" aria-controls="onsale"
                               aria-selected="false">Onsale</a>
                        </li>
                    </ul>
                    <!-- Tab Menu Area End -->
                    <!-- Tab Content Area Start -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="feature-products" role="tabpanel"
                            aria-labelledby="feature-products-tab">
                            <div class="products-wrapper">
                                <div class="products-carousel owl-carousel">
                                    <!-- Single Product Item -->
                                    <%  featuredProducts.forEach(function(product){ %>
                                        <% if (!product.isDeleted) { %>
                                    <div class="single-product-item text-center">
                                        <figure class="product-thumb">
                                            <a href="/product/<%= product._id %>">
                                                <img src="/uploads/<%= product.itemImage[0] %>" alt="Products" class="img-fluid"></a>
                                        </figure>

                                        <div class="product-details">
                                            <h2><a href="#"><%= product.productName %></a></h2>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <span class="price"> Rs. <%= product.price %></span>
                                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-add-to-cart">+ Add to Cart</a>
                                                <span class="product-bedge">Featured</span>
                                        </div>

                                        <div class="product-meta">
                                            <button type="button" class="btn-quick-view"
                                data-product-name="<%= product.productName %>"
                                data-product-price="<%= product.price %>"
                                data-product-description="<%= product.moreInfo.description %>"
                                data-product-images="<%= product.itemImage[0]%>">
                                <span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="fa fa-compress"></i></span>
                                </button>
                                            <a href="/wishlist/addToWishlist/<%= product._id %>" data-toggle="tooltip" data-placement="left"
                                            title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="compare.html" data-toggle="tooltip" data-placement="left"
                                            title="Compare"><i class="fa fa-tags"></i></a>
                                        </div>
                                    </div>
                                        <% } %>

                                    <% }) %>
                                    <!-- Single Product Item -->
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="new-products" role="tabpanel" aria-labelledby="new-products-tab">
                            <div class="products-wrapper">
                                <div class="products-carousel owl-carousel">
                                        
                                    <% newProducts.forEach(function(product) { %> 
                                    <!-- Single Product Item -->
                                    <div class="single-product-item text-center">
                                        <figure class="product-thumb">
                                            <a href="/product/<%= product._id %>"><img src="/uploads/<%= product.itemImage[0] %>"
                                                                               alt="Products" class="img-fluid"></a>
                                        </figure>

                                        <div class="product-details">
                                            <h2><a href="#"><%= product.productName %></a></h2>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="price">Rs. <%= product.price %></span>
                                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-add-to-cart">+ Add to Cart</a>
                                            <span class="product-bedge">New</span>
                                        </div>

                                        <div class="product-meta">
                                            <button type="button" data-toggle="modal" data-target="#quickView">
                                                <span data-toggle="tooltip" data-placement="left" title="Quick View"><i
                                                        class="fa fa-compress"></i></span>
                                            </button>
                                            <a href="/wishlist/addToWishlist/<%= product._id %>" data-toggle="tooltip" data-placement="left"
                                               title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="compare.html" data-toggle="tooltip" data-placement="left"
                                               title="Compare"><i class="fa fa-tags"></i></a>
                                        </div>
                                    </div>
                                    <% }) %>
                                    <!-- Single Product Item -->

                                    
                                    <!-- Single Product Item -->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="onsale" role="tabpanel" aria-labelledby="onsale-tab">
                            <div class="products-wrapper">
                                <div class="products-carousel owl-carousel">
                                    <!-- Single Product Item -->
                                    <% onSale.forEach(function(product){ %> 
                                    <div class="single-product-item text-center">
                                        <figure class="product-thumb">
                                            <a href="/product/<%= product._id %>"><img src="/uploads/<%=product.itemImage[0]%>"
                                                                               alt="Products" class="img-fluid"></a>
                                        </figure>

                                        <div class="product-details">
                                            <h2><a href="#"><%=product.productName %></a></h2>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <span class="price">Rs. <%=product.price %></span>
                                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-add-to-cart">+ Add to Cart</a>
                                            <span class="product-bedge sale">Sale</span>
                                        </div>

                                        <div class="product-meta">
                                            <button type="button" data-toggle="modal" data-target="#quickView">
                                                <span data-toggle="tooltip" data-placement="left" title="Quick View">
                                                    <i class="fa fa-compress"></i>
                                                </span>
                                            </button>
                                            <a href="/wishlist/addToWishlist/<%= product._id %>" data-toggle="tooltip" data-placement="left"
                                               title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="compare.html" data-toggle="tooltip" data-placement="left"
                                               title="Compare"><i class="fa fa-tags"></i></a>
                                        </div>
                                    </div>
                                    <% }) %>
                                    <!-- Single Product Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Content Area End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--== New Collection Area End ==-->
<!--== Products by Category Area Start ==-->
<div id="product-categories-area">
    <div class="ruby-container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <!-- Section Title Start -->
              <div class="section-title">
                <h2>Popular Brands</h2>
                
              </div>
              <!-- Section Title End -->
            </div>
            <div class="col-lg-6">
                <div class="large-size-cate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/SK.jpg" alt="Women Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">SKin Care</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/lipred.jpg" alt="Men Category" class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">Lips</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="small-size-cate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/frag-4.AVIF" alt="Men Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">Fragrance</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/eyees.jpg" alt="Men Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">Eyes</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/cc.jpg" alt="Men Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">Beauty</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="#"><img src="/assets/img/haiir.jpg" alt="Men Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="#">Hair</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Products by Category Area End ==-->

<!--== New Products Area Start ==-->
<section id="new-products-area" class="p-9">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <!-- Section Title Start -->
          <div class="section-title">
            <h2>Shop by Categories</h2>
            <p>Trending stunning Unique</p>
          </div>
          <!-- Section Title End -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <div class="products-wrapper">
            <div class="new-products-carousel owl-carousel">
  
                <% categories.forEach((category) => { %>
                    <!-- Single Category Item -->
                    <div class="single-product-item text-center">
                      <figure class="product-thumb">
                        <a href="/category/<%= category._id %>"><img src="/uploads/<%= category.image %>" alt="<%= category.name %>"
                            class="img-fluid"></a>
                      </figure>
          
                      <div class="product-details">
                        <h2><a href="#"><%= category.name %></a></h2>
                        <!-- Add more category details here -->
                      </div>
          
                      <div class="product-meta">
                        <button type="button" data-toggle="modal" data-target="#quickView">
                          <span data-toggle="tooltip" data-placement="left" title="Quick View"><i
                              class="fa fa-compress"></i></span>
                        </button>
                        <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Wishlist"><i
                            class="fa fa-heart-o"></i></a>
                        <a href="compare.html" data-toggle="tooltip" data-placement="left" title="Compare"><i
                            class="fa fa-tags"></i></a>
                      </div>
                    </div>
                    <!-- Single Category Item -->
                  <% }); %>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!--== New Products Area End ==-->

<!--== Testimonial Area Start ==-->
<section id="testimonial-area">
    <div class="ruby-container">
        <div class="testimonial-wrapper">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2>What People Say</h2>
                        <p>Testimonials</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 m-auto text-center">
                    <div class="testimonial-content-wrap">
                        <div id="testimonialCarousel" class="owl-carousel">
                            <div class="single-testimonial-item">
                                <p>These guys have been absolutely outstanding. When I needed them they came through in
                                    a big way! I know that if you buy this theme, you'll get the one thing we all look
                                    for when we buy on Themeforest, and that's real support for the craziest of
                                    requests!</p>

                                <h3 class="client-name">Luis Manrata</h3>
                                <span class="client-email">you@email.here</span>
                            </div>

                            <div class="single-testimonial-item">
                                <p>These guys have been absolutely outstanding. When I needed them they came through in
                                    a big way! I know that if you buy this theme, you'll get the one thing we all look
                                    for when we buy on Themeforest, and that's real support for the craziest of
                                    requests!</p>

                                <h3 class="client-name">John Dibba</h3>
                                <span class="client-email">you@email.here</span>
                            </div>

                            <div class="single-testimonial-item">
                                <p>These guys have been absolutely outstanding. When I needed them they came through in
                                    a big way! I know that if you buy this theme, you'll get the one thing we all look
                                    for when we buy on Themeforest, and that's real support for the craziest of
                                    requests!</p>

                                <h3 class="client-name">Alex Tuntuni</h3>
                                <span class="client-email">you@email.here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Testimonial Area End ==-->

<!--== Blog Area Start ==-->
<section id="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>From Our Blog</h2>
                    <p>Share your latest posts or best articles will post here.</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="blog-content-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/assets/img/eyees.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                            <span class="post-date">20/June/2018</span>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                                litterarum.</p>
                            <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/assets/img/blog.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                            <span class="post-date">20/June/2018</span>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                                litterarum.</p>
                            <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/assets/img/blogs.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                            <span class="post-date">20/June/2018</span>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                                litterarum.</p>
                            <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Blog Area End ==-->

<!--== Newsletter Area Start ==-->
<section id="newsletter-area" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>Join The Newsletter</h2>
                    <p>Sign Up for Our Newsletter</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="newsletter-form-wrap">
                    <form id="subscribe-form" action="https://d29u17ylf1ylz9.cloudfront.net/ruby-v2/ruby//assets/php/subscribe.php" method="post">
                        <input id="subscribe" type="email" name="email" placeholder="Enter your Email  Here" required/>
                        <button type="submit" class="btn-long-arrow">Subscribe</button>
                        <div id="result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Newsletter Area End ==-->

<!-- Footer Area Start -->

<%- include('../user/partials/footer.ejs') %>

<!-- Start All Modal Content -->
<!--== Product Quick View Modal Area Wrap ==-->

</body>

</html>